
data/SRP018246
data/SRP018247
data/SraRunTableSRP018246.txt
analysis/*.fasta
analysis/*.summary
analysis/final.taxonomy
analysis/final.equalized.taxonomy
analysis/final.tx.1.cons.taxonomy
analysis/*.sabund
analysis/*.rabund
analysis/*.names
analysis/*.groups
analysis/mergegroups
analysis/analysis.*
analysis/*.qual
analysis/*.list
analysis/*.tree.sum
analysis/final.dist
analysis/final.an.shared
analysis/all.lst
*.logfile
silva/*.report
silva/*.summary
silva/*.8mer
*.tgz
